@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.sidebar-container {
    overflow-y: auto;
}

.sidebar-container .sidebar-header .logoMouts {
    width: 50px;
    object-fit: contain; 
}

.sidebar-header .logoMouts {
    width: 50px !important;
}

.sidebar-header {
    display: flex;
    align-items: center; 
}

.sidebar-header .logoMouts {
    width: 50px;
    height: auto; 
    object-fit: cover;
    cursor: pointer;
}

.toggle-btn {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.sidebar-container ul li a {
    text-decoration: none;
    list-style: none;
    color: #B9DBD0;
}

.sidebar-container ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.sidebar-container {
    display: flex;
    height: 100vh;
    background-color: #425261;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80px; 
    z-index: 1000;
    transition: width 0.4s ease-in-out;
    background-color: #1D2E3B;
    flex-shrink: 0;
}

.sidebar.expand {
    width: 250px; 
}

.sidebar-header {
    display: flex;
}

.toggle-btn {
    background: none;    
    border: none;        
    padding: 1rem 1rem;          
    margin: 0;          
    outline: none;   
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo img {
    width: 50%;
    height: 50%;
}

.sidebar-nav .mouts_subtitle {
    color: #5DD9C1;
    margin: 10px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    flex: 1;
}

a.sidebar-link {
    display: flex;
    align-items: center;
    padding: .625rem 1.625rem;
    color: #B9DBD0;
    font-weight: 700;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-link i {
    font-size: 1rem;
    margin-right: .75rem;
}

h4 {
    font-weight: 500;
    margin: 10px 0;
    white-space: nowrap;
}

.sidebar:not(.expand) h4,
.sidebar:not(.expand) .sidebar-logo img,
.sidebar:not(.expand) .sidebar-link span  {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.sidebar-item {
    position: relative;
    margin: 5px 0; 
}

.sidebar-item .sidebar-dropdown {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.sidebar.expand .sidebar-item .has-dropdown.active+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    transition: all 200ms linear;
    opacity: 1;
}

.sidebar.expand .sidebar-link.has-dropdown::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    border: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(-40deg);
    transition: transform 0.2s ease-out;
}

.sidebar.expand .sidebar-link.has-dropdown.active::after {
    transform: rotate(135deg);
}


a.sidebar-link:hover,
.sidebar-link.active {
    background-color: #aeaeae29;
    border-left: 3px solid #5DD9C1;
}

.sidebar-dropdown a.sidebar-link {
    position: relative;
    padding-left: 3rem;
    transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link::before{
    content: "";
    height: 0.125rem;
    width: 0.375rem;
    background-color: #fff;
    position: absolute;
    left: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link:hover::before {
    width: 1.25rem;
}

.sidebar-dropdown a.sidebar-link:hover {
    background: transparent;
    border-left: 3px solid transparent;
    padding-left: 3.8rem;
    color: #54B097;
}

.sidebar-dropdown {
    display: none; 
}

.sidebar-dropdown.active {
    display: block;
}

.sidebar.active {
    width: 250px; 
}

.conteudo {
    flex: 1; 
    margin: 0;
    background-color: #425261;
    font-family: "Lato", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-container h3 {
    color: #5DD9C1;
    font-size: 1.8rem;
    margin-top: 10px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700px;
    background-color: #1D2E3B;
    padding: 40px;
    border-radius: 12px;
}

.logo-img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
}

.text-content {
    font-size: 1.4rem;
    color: #e2e8f0;
}

@media (min-width: 992px) {
    .logo-container {
        gap: 2rem;
    }
}