@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    background-color: #425261;
    font-family: "Lato", serif;
    --azul-escuro: #425261;
    --marrom: #957d6b;
    --bege: #d8c6b0;
    --azul: #6298bb;
    --verde-escuro: #049c7b;
    --verde1: #3cac8c;
    --verde2: #54b097;
    --verde3: #7cbcac;
    --verde4: #b0dbd0;
    --verde5: #99bfbf;
    --verdeEscuro: #1e2b3c;
}

.divPadrao {
    color: #5DD9C1;
    font-family: "Lato", serif;
    background-color: #1e2b3c;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 700px;
}

.divEsquerda {
    text-align: center;
}

.txtbox_Resumo {
    font-family: "Lato", serif;
    width: 70%;
    height: 300px;
}

.divDireita {
    margin-top: 10px;
}