@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    background-color: #1D2E3B;
    font-family: "Lato", serif;
    --azul-escuro: #425261;
    --marrom: #957d6b;
    --bege: #d8c6b0;
    --azul: #6298bb;
    --verde-escuro: #049c7b;
    --verde1: #3cac8c;
    --verde2: #54b097;
    --verde3: #7cbcac;
    --verde4: #b0dbd0;
    --verde5: #99bfbf;
    --verdeEscuro: #1e2b3c;
}

.card-text, .card-title {
    color: white;
}

.h1_modulos {
    color: #5DD9C1;
}

.card {
    background-color: #1e2b3c;
    margin-top: 20px;
}

.label {
    color: #5DD9C1;
    font-weight: bold;
    accent-color: #7cbcac;
    margin-right: 20px;
}

.a {
    text-decoration: none;
}

.btn_novoModulo {
    background-color: #7cbcac;
    border-color: transparent;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    height: 40px;
}

.btn_novoModulo:hover {
    background-color: #2e86ab;
    opacity: 0.9;
    border-color: transparent;
}

.pesquisar:focus {
    box-shadow: 0 0 10px #2E86AB;
    outline: none;
}

.pesquisar {
    border-radius: 10px;
    width: 300px;
    border-color: transparent;
}

.card .btn {
    background-color: #7cbcac;
    border-color: transparent;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.card .btn:hover {
    background-color: #2e86ab;
    opacity: 0.9;
    border-color: transparent;
}

.radioPesquisar1 {
    margin-left: 20px;
    margin-top: -1px;
    vertical-align: middle;
}

.radio-group {
    display: flex;
    gap: 5px;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
  }  

h1,
.card-title,
.label,
.btn {
    font-weight: bold;
}

.div_pesquisar {
    display: flex;
    align-items: center;
}